<form class="comment">
  <div class="form-group">
    <label for="comment">Comments</label>
      {{input value=comment id="comment" }}
  </div>
  <button {{action 'saveComment1'}}>save</button>
</form>
