<div class= "container">
  <header class= "jumbotron">
    {{#link-to 'index'}}<h1>BLOG</h1>{{/link-to}}
    {{#link-to 'admin'}}admin{{/link-to}}
  </header>
    {{outlet}}
  <hr>
  <footer>
  </footer>
</div>
